<h1>Get your engines ready guys! Or your Beverage glasses.</h1>
<h1>Whatever Works. Carpe Diem!</h1>


<h1>show new game here</h1>
<h1><%= @game.game_title %></h1>


<div class="chessboard">
  <table id="chessboard_table" >
      <% 8.downto(1) do |row| %>
        <tr class= "chessboard-col">
          <% 8.downto(1) do |col| %>
            <td data-x_position="<%= col %>"data-y_position="<%= row %>">              
                <h1 class= "pieces"> piece </h1>     /// select jquery pieces object -start like this and integrate ruby object later?
            </td>
          <% end %><!--end column-->
        </tr>
      <% end %><!--end row-->
  </table>
</div> 
