


<script>
  $( function() {
    $( ".chessPiece span" ).draggable();
    $('.chessPiece').droppable({
      drop: function(ev, ui) {
        alert(ui.x_position);
          var dropped = ui.draggable;
          var droppedOn = $(this);
          $(dropped).detach().css({top: 0,left: 0}).appendTo(droppedOn);
          // console.log(droppedOn)    //jQuery.fn.init[1]
          var y = droppedOn.data('y_position')   //is .data calling the method in the html?
          var x = droppedOn.data('x_position')
          var myobj = $('.chess_pieces')


          console.log(y)
          console.log(x)
          console.log(myobj)
          console.log(droppedOn)



      // $.ajax({
      //     type: 'PUT',
      //     url:
      //     dataType: 'json',
      //     data: {
      //       droppedOn.data('y_position')
      //       droppedOn.data('x_position')
      //     }
      //   })

      }
    });
  });





</script>

</br>

<h1><%= @game.game_title %></h1>

<div class="chessboard">
  <table id="chessboardTable" >
      <% 7.downto(0) do |row| %>
        <tr class= "chessboardCol">
          <% 7.downto(0) do |col| %>
              <td class="chessPiece" data-x_position="<%= row %>" data-y_position="<%= col %>">
                <span><%=@game.return_piece(col,row)%></span>
              </td>
          <% end %><!--end column-->
        </tr>
      <% end %><!--end row-->
  </table>
</div>
