
<h1>My Dashboard</h1>

<h1>My Games</h1>

<% @current_player_games.each do |game| %>
  <div>
    <h1><%game.game_title%></h1>
    <%= link_to "Play this game", game_path(game) %>
  </div>
<% end %>

<h1> Opponents Turn </h1>

<% @opponent_games.each do |op_games| %>
  <div>
  <h1><%op_games.game_title %></h1>
  <%= link_to "Play this game", game_path(game) %>
  </div>
<% end %>

<h1>Join a Game</h1>

<% @games.each do |game| %>
  <div>
    <h1><%= game.game_title %></h1><br />
    <%= link_to "Play this game", game_path(game) %>
  </div>
<% end %>


