<!--<h1>show player dashboard</h1>-->
<!--<h2>Welcome playner.name</h2>-->
<!--<h2></h2>   // ? current user player-->
<h1>My Dashboard</h1>

<h1>Join a game</h1>

<% @games.each do |game| %>
  <div>
    <h1><%= game.game_title %></h1><br />
    <%= link_to "Play this game", game_path(game) %>
  </div>
<% end %>

<!--<h1>My Turn</h1>-->
<!--> if logic -->
<!--game name -->
<!--current user vs game.user -->

<!--if game.turn==current_player.id >


<!--link to game-->
<!--<h1>My Oppopents turn</h1>-->
<!--game name -->
<!--if game.turn!=current_player.id
<!-->

