@import "bootstrap-sprockets";
@import "bootstrap";


.editp {
	color: blue;
}

.chessboard {
    margin-left: 300px;
}

.chessboard-col {
    width: 50px; height: 50px;
    border: 2px solid #333; /* */
}


tr:nth-child(even) td:nth-child(even), tr:nth-child(odd) td:nth-child(odd) {
background: white
}

tr:nth-child(even) td:nth-child(odd), tr:nth-child(odd) td:nth-child(even) {
background: black
}

.td {
    padding: 20px;
}

#chess_piece {
    font-size: 50px;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 70px;
    min-width: 70px;
}

